{% extends 'base.html.twig' %}

{% block title %}{{ 'label.login'|trans }}{% endblock %}

{% block body %}
    <section>
        <div class="inner row">
            <form method="post" class="col-6 col-12-small margin-auto">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        {{ 'label.logged_as' }} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'label.logout'|trans }}</a>
                    </div>
                {% endif %}

                <h1>{{ 'label.please_sign_in'|trans }}</h1>
                <div class="row gtr-uniform">
                    <div class="col-12">
                        <label for="inputEmail">{{ 'label.email'|trans }}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword">{{ 'label.password'|trans }}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <!-- Break -->
                    <div class="col-6 col-12-small checkbox-container">
                        <input type="checkbox" name="_remember_me" checked>
                        <label for="_remember_me">{{ 'label.remember'|trans }}</label>
                    </div>

                    <!-- Break -->
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="{{ 'route.login'|trans }}" class="primary"></li>
                            <li><input type="reset" value="Reset"></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
