{% macro builder(page) %}
    {% for section in page %}
        <section id="{{ section.id }}" class="{{ section.class }}">
            {% for bloc in section.blocks %}
                <div class="{{ bloc.class }}">
                    <div class="build-container {{ bloc.module }}-module">
                        {% import '_macros/_builder/_blocks/' ~ bloc.module ~ '.html.twig' as module %}
                        {{ module.render(bloc[app.request.getLocale()]) }}
                    </div>
                </div>
            {% endfor %}
        </section>
    {% endfor %}
{% endmacro %}