{% macro blocks(tiles) %}
    <section id="one" class="tiles">
        {% for tile in tiles %}
            <article style="background-image: url({{ asset(tile.image) }});" title="{{ tile.title }}">
                <span class="image" style="display: none;">
                    <img src="{{ asset(asset(tile.image)) }}" alt="">
                </span>
                <header class="major">
                    <h3><a href="{{ tile.url }}" class="link">{{ tile.title|words_counter(6) }}</a></h3>
                    {% if tile.desc is defined %}
                        <p>{{ tile.desc }}</p>
                    {% endif %}
                </header>
                <a href="{{ tile.url }}" class="link primary"></a>
            </article>
        {% endfor %}
    </section>
{% endmacro %}