{% set locale = app.request.getLocale() %}
{% set route = app.request.get('_route') %}
<!-- Header -->
<header id="header" class="alt">
    <a href="{{ path('home', {_locale:locale}) }}" class="logo">
        <strong>QS</strong> <span>{{ 'site.name'|trans|replace({'QS ':''}) }}</span>
    </a>
    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>

<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li>
            <a class="{{ is_active(route, 'home') }}" href="{{ path('home', {_locale:locale}) }}">{{ 'route.home'|trans }}</a>
        </li>
        <li class="dropdown">
            <a class="{{ is_active(route, 'skill', true) }}" href="{{ path('skill_index', {_locale:locale}) }}">{{ 'route.skill'|trans }}&nbsp;<i class="fa-solid fa-caret-up"></i></a>
            <ul class="links">
                <li>
                    <a class="{{ is_active(route, 'skill_development') }}" href="{{ path('skill_development', {_locale:locale}) }}">{{ 'route.development'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'skill_iot') }}" href="{{ path('skill_iot', {_locale:locale}) }}">{{ 'route.iot'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'skill_consulting') }}" href="{{ path('skill_consulting', {_locale:locale}) }}">{{ 'route.consulting'|trans }}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="{{ is_active(route, 'reference', true) }}" href="{{ path('reference_index', {_locale:locale}) }}">{{ 'route.reference'|trans }}&nbsp;<i class="fa-solid fa-caret-up"></i></a>
            <ul class="links">
                <li>
                    <a class="{{ is_active(route, 'reference_web') }}" href="{{ path('reference_web', {_locale:locale}) }}">{{ 'route.web'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'reference_mobile') }}" href="{{ path('reference_mobile', {_locale:locale}) }}">{{ 'route.mobile'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'reference_desktop') }}" href="{{ path('reference_desktop', {_locale:locale}) }}">{{ 'route.desktop'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'reference_training') }}" href="{{ path('reference_training', {_locale:locale}) }}">{{ 'route.training'|trans }}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="{{ is_active(route, 'service', true) }}" href="{{ path('service_index', {_locale:locale}) }}">{{ 'route.service'|trans }}&nbsp;<i class="fa-solid fa-caret-up"></i></a>
            <ul class="links">
                <li>
                    <a class="{{ is_active(route, 'service_application') }}" href="{{ path('service_application', {_locale:locale}) }}">{{ 'route.application'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'service_consulting') }}" href="{{ path('service_consulting', {_locale:locale}) }}">{{ 'route.consulting'|trans }}</a>
                </li>
                <li>
                    <a class="{{ is_active(route, 'service_iot') }}" href="{{ path('service_iot', {_locale:locale}) }}">{{ 'route.iot'|trans }}</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('blog_index', {_locale:locale}) }}">{{ 'route.blog'|trans }}</a>
        </li>
    </ul>
    <ul class="actions stacked">
        <li>
            <a href="{{ path('contact', {_locale:locale}) }}" class="button primary fit">{{ 'route.contact'|trans }}</a>
        </li>
        <li>
            {% if locale == 'fr' %}
                <a class="button fit" href="{{ path(parse_translated_route(route), {_locale: 'en'}) }}">English version</a>
            {% else %}
                <a class="button fit" href="{{ path(parse_translated_route(route), {_locale: 'fr'}) }}">Version française</a>
            {% endif %}
        </li>
    </ul>
</nav>

<!-- Banner -->
<section id="banner" class="major">
    <div class="inner">
        <span class="image" style="display: none;">
            <img src="{{ asset('build/images/page/' ~ provide_bg(app.request.get('_route'))) }}" alt="">
        </span>
        <header class="major">
            <h1>
                {% if article is defined %}
                    {{ article.title }}
                {% else %}
                    {% set route = app.request.get('_route') %}
                    {% if route != 'home' and route != 'index' %}
                        {{ ('route.'~splitter(route))|trans }}
                    {% else %}
                        {{ 'title.hello'|trans }}
                    {% endif %}
                {% endif %}
            </h1>
        </header>
        <div class="content">
            <p>{{ 'site.description'|trans|replace({'|':'<br>'})|raw }}</p>
            <ul class="actions">
                <li><a href="#" class="button next scrolly">{{ 'title.go'|trans }}</a></li>
            </ul>
        </div>
    </div>
</section>