<header>
    <a href="{{ path('home', {_locale:app.request.getLocale()}) }}">
        {{ 'site.name'|trans }}
    </a>
    <nav>
        <ul>
            <li>
                <a href="{{ path('home', {_locale:app.request.getLocale()}) }}">{{ 'route.home'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('skill', {_locale:app.request.getLocale()}) }}">{{ 'route.skill'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('reference', {_locale:app.request.getLocale()}) }}">{{ 'route.reference'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('service', {_locale:app.request.getLocale()}) }}">{{ 'route.service'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('blog_index', {_locale:app.request.getLocale()}) }}">{{ 'route.blog'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('contact', {_locale:app.request.getLocale()}) }}">{{ 'route.contact'|trans }}</a>
            </li>
            <li id="language-selector">
                <span>
                    {{ app.request.getLocale()|upper }}
                </span>
                <i class="fa-solid fa-caret-up"></i>
                <ul>
                    <li>
                        <a href="{{ path(app.request.get('_route'), {_locale: 'fr'}) }}">FR</a>
                    </li>
                    <li>
                        <a href="{{ path(app.request.get('_route'), {_locale: 'en'}) }}">EN</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>