<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}_{{ app.request.getLocale()|upper }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="{% if description is defined %}{{ description|trans }}{% elseif article is defined %}{{ article.description }}{% else %}{{ 'site.description'|trans }}{% endif %}">
        {% if keywords is defined %}
            <meta name="keywords" content="{{ keywords|trans }}">
        {% elseif article is defined %}
            <meta name="keywords" content="{{ article.keywords }}">
        {% endif %}
        <meta name="author" content="{{ 'site.name'|trans }}">
        <meta name="robots" content="index,follow">
        <meta name="rating" content="general">
        <meta name="google" content="notranslate">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:title" content="{% if article is defined %}{{ article.title }} - {{ 'site.name'|trans }}{% else %}{% set route = app.request.get('_route') %}{% if route != 'home' and route != 'index' %}{{ ('route.'~splitter(route))|trans }} - {{ 'site.name'|trans }}{% else %}{{ 'site.name'|trans }}{% endif %}{% endif %}">
        <meta property="og:description" content="{% if description is defined %}{{ description|trans }}{% elseif article is defined %}{{ article.description }}{% else %}{{ 'site.description'|trans }}{% endif %}">
        <meta property="og:url" content="https://qs-conseil.frederic-geffray.com/">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="{{ app.request.getLocale() }}_{{ app.request.getLocale()|upper }}">
        <meta property="og:site_name" content="{{ 'site.name'|trans }}">
        {% if article is defined and article.imageUrl is defined %}
            <meta property="og:image" content="{{ article.imageUrl }}">
        {% elseif image is defined %}
            <meta property="og:image" content="https://qs-conseil.frederic-geffray.com{{ image }}">
        {% endif %}
        <title>
            {% block title %}
                {% if article is defined %}
                    {{ article.title }} - {{ 'site.name'|trans }}
                {% else %}
                    {% set route = app.request.get('_route') %}
                    {% if route != 'home' and route != 'index' %}
                        {{ ('route.'~splitter(route))|trans }} - {{ 'site.name'|trans }}
                    {% else %}
                        {{ 'site.name'|trans }}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </title>
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </head>
    <body>
        {{ include('_components/header.html.twig') }}
        <main data-controller="{{ set_stimulus(app.request.get('_route')) }}">
            <pre>Page dumper:</pre>
            {{ page is defined ? dump(page) : 'no page' }}
            {% block body %}{% endblock %}
        </main>
        {{ include('_components/footer.html.twig') }}
    </body>
</html>
