{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ article.title }}</h2>
    <small>
        {% if article.creator is defined and article.creator is not same as '' %}
            {{ article.creator }}  ({{ article.source|upper }})
        {% else %}
            {{ article.source|upper }}
        {% endif %}
        {{ 'label.published'|trans }} {{ app.request.getLocale() == 'fr' ? article.pubDate|date("d/m/Y") : article.pubDate|date("Y/m/d") }}
    </small>
    <br>
    <img style="width: 100%;" src="{{ article.imageUrl }}" alt="{{ article.title }}">
    <br>
    {% set split = article.content|split_content %}
    <p>{{ split[0]|raw }}</p>
    <br>
    <p>{{ split[1]|raw }}</p>
{% endblock %}
