{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ 'admin.edit'|trans }} {{ 'admin.page'|trans }}{% endblock %}

{% block content %}

    <div class="deport-search" style="display: none;">
        <form class="form-action-search" method="get">
            <input type="hidden" name="routeName" value="admin_page">
            <input type="hidden" name="menuIndex" value="0">
            <input type="hidden" name="submenuIndex" value="-1">
            <div class="form-group">
                <div class="form-widget">
                    <i class="fas fa-search content-search-icon"></i>

                    <label class="content-search-label" data-value="">
                        <input class="form-control is-blank" type="search" name="query" value="" placeholder="{{ 'label.search.submit'|trans }}" spellcheck="false" autocorrect="off" oninput="this.parentNode.dataset.value=this.value">
                    </label>

                </div>
            </div>
        </form>
        <script>
            var form = document.querySelector('.deport-search'),
                to = document.querySelector('aside .content-search');
            to.innerHTML = form.innerHTML;
            var script = to.querySelector('script');
            to.removeChild(script);
            form.parentElement.removeChild(form);
        </script>
    </div>

    <article class="content">
        <section class="content-header">
            <div class="content-header-title">
                <h1 class="title">
                    {{ 'admin.modify'|trans }} {{ 'admin.page'|trans }}
                </h1>
            </div>
            <div class="page-actions">
                <button class="action-saveAndContinue btn btn-secondary action-save" type="submit" value="saveAndContinue" data-action-name="saveAndContinue" form="page-custom-form">
                    <span class="btn-label"><i class="action-icon far fa-edit"></i> <span class="action-label">{{ 'admin.save_and_continue'|trans }}</span></span>
                </button>

                <button class="action-saveAndReturn btn btn-primary action-save" type="submit" value="saveAndReturn" data-action-name="saveAndReturn" form="page-custom-form">
                    <span class="btn-label"><span class="action-label">{{ 'admin.save'|trans }}</span></span>
                </button>

            </div>
        </section>
        <section id="main" class="content-body">
            <div id="page-custom" class="content-panel-footer without-padding without-border">
                {{ dump(page) }}
                <form id="page-custom-form">
                    <input type="hidden" name="_token" value="{{ csrf_token('page') }}">
                    <div class="col-md-6 col-xxl-5">
                        <div class="field-text form-group d-flex flex-column">
                            <label class="form-control-label required">
                                <span>{{ 'admin.module.background'|trans }}</span>
                            </label>
                            <label class="form-widget">
                                <input class="d-none image-input" type="file" name="header-background">
                                <img height="100" src="{{ asset('build/images/page/' ~ page.background) }}" alt="{{ page.title|trans }}">
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </article>

{% endblock %}

{% block body_javascript %}
    {{ encore_entry_script_tags('admin') }}
{% endblock body_javascript %}